.movie-info {
  color: #ff6b08;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.06px;
}

.gallery {
  padding: 20px 0px 40px;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0px 40px;
  }
}

.movie-img {
  width: 280px;
  border-radius: 5px;
  @include for-size(tablet) {
    width: 100%;
  }
}

.movie-card {
  margin-bottom: 20px;
  @include for-size(tablet) {
    width: calc((100% - 1 * 30px) / 2);
    &:nth-child(2n) {
      margin-left: 30px;
    }
  }

  @include for-size(desktop) {
    width: calc((100% - 2 * 30px) / 3);
    &:nth-child(2n) {
      margin-left: 0px;
    }

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}

.movie-title {
  margin-top: 10px;
  margin-bottom: 3px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: #000000;
}
