$primary-white-color: #ffffff;
$grey-color: #818181;
$accent-color: #ff6b08;
$primary-dark-color: #000000;
$secondary-grey-color: #f7f7f7;
$secondary-dark-color: #545454;
$tertiary-grey-color: #8c8c8c;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
