<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="" class="logo">
                <svg>
                    <use href="/src/images/icons/sprite.svg#icon-logo"></use>
                </svg>
                <span class="logo-span">Filmoteka</span>

            </a>
            <ul class="nav-links">
                <li><a class="nav-link active" href="">Home</a></li>
                <li><a class="nav-link" href="">my library</a></li>
            </ul>
        </nav>
        <form action="" class="header-form">
            <img src="./images/icons/zoom.svg" alt="" class="input-icon">
            <input type="text" class="input" placeholder="Search films">
        </form>
    </div>

</header>