<header class="library-header">
    <div class="container">
        <nav class="library-nav">
            <a href="" class="logo">
                <svg>
                    <use href="images/icons/sprite.svg#icon-logo"></use>
                </svg>
                <span class="logo-span">Filmoteka</span>

            </a>
            <ul class="nav-links">
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link active" href="../src/library.html">my library</a></li>
            </ul>
        </nav>
        <div>
            <ul class="library-btns">
                <li><button class="library-btn">Watched</button></li>
                <li><button class="library-btn">queue</button></li>
            </ul>
        </div>
    </div>

</header>